<div class="container content-area-height">
  <div class="home-heading text-center"><span>FARM</span> - HAND</div>
  <div class="row">
    <% @categories.each do |category|%>
    <div class="col-sm-3">
      <div class="thumbnail">
       <img class="image-height" src="/assets/<%= category.image_name %>" alt="image">
       <div class="caption home-category">
         <h3><%= link_to category.name, product_all_path(category.id) %></h3>
       </div>
     </div>
   </div>
   <% end%>
 </div>
</div>