<%= hidden_field_tag 'category_id', 1 %>
<div class="container content-area-height">
  <div class="row">
    <div class="col-sm-3">
      <div class="product-page-title">Products List</div>
    </div>
    <div class="col-sm-3 text-right">
     <button class="btn btn-primary" type="button">Click Here to Sell Your Product</button>
   </div>
   <div class="col-sm-6">
    <ul class="text-right">
      <li class="disp-inline">
        <select class="form-control" id="select_district">
          <option>Choose District</option>
          <% District.all.each do |district|%>
          <option value="<%=district.name%>"><%= district.name %></option>
          <% end %>
        </select>
      </li>
      &nbsp;&nbsp;
      <li class="disp-inline">
       <select class="form-control" id="select_product">
        <option>Choose Product</option>
        <option>2</option>
      </select>
    </li>
  </ul>
</div>
</div>
<br><br>
<div class="product-overflow">
  <div class="row">
    <% 8.times do %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <img class="image-height" src="/assets/veg.jpeg" alt="image">
        <div class="caption">
          <div class="row">
            <div class="col-sm-5">
              <label>Name</label>
            </div>
            <div class="col-sm-7">
              <div>Paddy</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <label>Quantity</label>
            </div>
            <div class="col-sm-7">
              <div>100 KG</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <label>Price</label>
            </div>
            <div class="col-sm-7">
              <div>10 / Kg</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <label>Close Date</label>
            </div>
            <div class="col-sm-7">
              <div>12-01-2016</div>
            </div>
          </div>
        </div>
        <div class="text-right">
          <button class="btn btn-danger" type="button">Quote Your Price</button>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>