/*Home page*/
.home-heading {
  font-size: 36px;font-weight: 600;color: #22CD76;
  margin: 20px 0px;
}
.thumbnail img .image-height {
  height: 175px;
}
.thumbnail .caption.home-category {
  height: 100px;border-top: 1px solid #ddd;
}
.thumbnail .caption.home-category .category-name {
  font-size: 22px;
}
.disp-inline {
  display: inline-table;width: 200px;
}
/*product page*/
.product-page-title {
  font-size: 36px;color: #22cd76;
}
.product-overflow {
 overflow-y: scroll;
 height:650px;overflow-x: hidden;margin-bottom: 20px;
}
/*Seller page*/
.sell-upload-img {
  width: 200px;height: 200px;border: 1px solid #ddd;
}