/*Home page*/
.home-heading {
  font-size: 36px;font-weight: 600;color: #22CD76;
  margin: 20px 0px;
}
.thumbnail img .image-height {
  height: 175px;
}
.thumbnail .caption.home-category {
  height: 100px;border-top: 1px solid #ddd;
}
.thumbnail .caption.home-category .category-name {
  font-size: 22px;
}
.disp-inline {
  display: inline-table;width: 200px;
}
/*product page*/
.product-page-title {
  font-size: 36px;color: #22cd76;
}
.product-overflow {
 overflow-y: scroll;
 height:650px;overflow-x: hidden;margin-bottom: 20px;
}
/*Seller page*/
.sell-upload-img {
  width: 200px;height: 200px;border: 1px solid #ddd;
}
/*Bidding details page*/
.bid-details {
  font-size: 22px;color: #22cd76;margin-bottom: 20px;
  text-align: center;
}
.bid-upload-img {
  width: 200px;height: 200px;border: 1px solid #ddd;
  margin-bottom: 20px;
}
.bid-details.my-act {
  text-align: left;
}

/*Home banner*/
.banner {
    background-image: url("/assets/images1.jpeg");
    background-color: #cccccc;margin-top:60px;
    color: #fff;height: 184px;
}
.banner .text {
  position: absolute;top: 16%;left:40%;
  font-size: 56px;
}
.module {
  background-attachment: scroll, scroll;
  background-clip: border-box, border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/images1.jpeg");
  background-origin: padding-box, padding-box;
  background-position: 0 0%, 0 0;
  background-repeat: repeat, repeat;
  background-size: cover;
  float: left;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
 /* width: 300px;*/
}
.mid h2 {
  color: white;
  font-family: "Roboto",sans-serif;
  font-size: 2rem;
  font-weight: 900;
  left: 50%;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}